name: ci
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Weasyprint Prequisites
        run: |
          apt install \
          python3-pip \
          python3-cffi \
          python3-brotli \
          libpango-1.0-0 \
          libharfbuzz0b \
          libpangoft2-1.0-0

      - name: Setup Python runtime
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Python Dependencies
        run: |
          pip install \
          weasyprint \
          mkdocs \
          mkdocs-material \
          mkdocs-minify-plugin \
          mkdocs-redirects \
          mkdocs-video \
          mkdocs-git-revision-date-localized-plugin \
          mkdocs-with-pdf

      - name: Deploy Documentation
        run: |
          mkdocs gh-deploy --force
